$primary-color: #4e4343;
$bg-color: radial-gradient(#fff, #f9d5e5);
$font-stack: "Poppins", arial, sans-serif;
$btn-color: #e06377;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #e06377;
  } @else {
    @return #fff;
  }
}

@mixin set-bg($color) {
  background-color: $color;
  color: set-text-color($primary-color);
}

$spaceamounts: (1, 2);
@each $space in $spaceamounts {
  .my-#{$space} {
    margin: #{space} rem 0;
  }
}
