* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(207, 192, 255);
}
.container {
  background-color: #ffffff;
  width: 40%;
  min-width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
  border: 2px solid rgb(66, 133, 244);
  box-shadow: 0 2px 15px rgb(1, 100, 149);
}
.watch {
  position: relative;
  width: 93%;
  background: #ffffff;
  left: 4%;
  padding: 35px 0;
  color: #0381bb;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.buttons {
  width: 90%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 120px;
  height: 45px;
  background: green;
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.buttons button:nth-last-child(2) {
  background: rgb(253, 83, 157);
}
.buttons button:nth-last-child(1) {
  background: red;
}
